{% extends "base.html" %}

{% import "_pagination_macros.html" as macros%}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>All authors</h2>
        <ul class="posts">
            {% for author in authors %}
            <li class="post">
                <div class="author-thumbnail">
                    <a href="{{ url_for('.user', username=author.username) }}">
                     {% if author.real_avatar %}
                    <img class="img-rounded profile-thumbnail" src="{{author.real_avatar}}" width="40">
                    {% else %}
                    <img class="img-rounded profile-thumbnail" src="{{author.gravatar(size=40)}}">
                    {% endif %}
                    </a>
                </div>
                <div class="post-content">
                    <div class="author-name">
                        <a href="{{ url_for('.user', username=author.username) }}">
                            {{ author.username }}
                        </a>
                    </div>
                </div>


             {% endfor %}

            {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.all_posts')}}
            </div>
            {% endif %}
            </li>
        </ul>
    </div>

</div>
{% endblock %}