{% extends "base.html" %}
{% block content %}

<div >
    <h3>Reset Password</h3>


    <form class="form" action="" method="post" name="create">
        {{ form.hidden_tag() }}

    <div class="input-group input-group-lg">
      <span class="input-group-addon" >Password</span>
        {{ form.old_password(class_='form-control',placeholder = "input original password") }}<br>
    </div>
        {% for error in form.old_password.errors %}
        <span class="formerror">[{{ error }}]</span>
        {% endfor %}<br>


    <div class="input-group input-group-lg">
      <span class="input-group-addon" >Password</span>
        {{ form.password(class_='form-control',placeholder = "at least 6 element") }}<br>
    </div>
        {% for error in form.password.errors %}
        <span class="formerror">[{{ error }}]</span>
        {% endfor %}<br>

    <div class="input-group input-group-lg">
      <span class="input-group-addon" >Password</span>
        {{ form.password_confirm(class_='form-control',placeholder = "input password again") }}<br>
    </div>
        {% for error in form.password_confirm.errors %}
        <span class="formerror">[{{ error }}]</span>
        {% endfor %}<br>
    <div class="register-button">
        {{ form.submit() }}

    </div>
</form>

</div>
{% endblock %}